@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    font-size: 62.5%; /* 10px = 1rem */
    --font-family: 'Josefin Sans', sans-serif;

    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    --Linear-Primary-135deg: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --Linear-Secondary-135deg: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

/*=== GERAL ===*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-family);
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/*=== SECTION ===*/

.section {
    max-width: 50rem;
    margin: 0 auto;
    margin-block: 5rem;
    

    display: flex;
    flex-direction: column;

    position: relative;

    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.section .logo {
    padding: 2rem;
    width: 100%;
}

.section img {
    margin-bottom: 4rem;

    width: 100%;
}

.section h1 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1rem;
    line-height: 5rem;
    text-align: center;

    padding-inline: 2rem;
    margin-bottom: 4rem;
}

.section h1 span {
    color: var(--Desaturated-Red);
    font-weight: 200;
}

.section p {
    padding-inline: 2rem;
    margin-bottom: 6rem;

    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--Desaturated-Red);
}

/*=== INPUT ===*/
.section .email {
    padding-inline: 2rem;
    margin-bottom: 10rem;

    text-align: center;
}

.section .email input {
    width: 90%;
    padding: 1rem;

    border-radius: 5rem;
    border: 2px solid var(--Desaturated-Red);
}

.section .email input:focus {
    outline: 1px solid var(--Desaturated-Red);
}

.section .email input.erro-border {
    border: 3px solid var(--Soft-Red);
}

.section .email button {
    padding: .8rem;
    width: 8rem;

    position: absolute;
    right: 8%;

    border-radius: 4rem;
    border: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    background: var(--Desaturated-Red);

    cursor: pointer;

    transition: .3s;
}

.section .email button:hover {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    transform: scale(1.1);  
}

.section .email .erro {
    display: none;
}

.section .email .erro.icon-erro {
    position: absolute;
    right: 27%;
    top: 84.6%;

    display: block;
}

.section #erro {
    margin-top: -9rem;
    color: var(--Soft-Red);
}

/*=== DESKTOP ===*/

@media (min-width: 1024px) {
    .section {
        max-width: 100rem;
        height: 61rem;
        margin-block-start: 3rem;
        margin-block-end: 0;
    
        display: grid;
        grid-template-columns: 53.4rem 1fr;
        grid-template-rows: 10rem 1fr;
        grid-template-areas: 
            "logo img"
            "content img";
    }

    .section::before {
        content: '';

        background: url(images/bg-pattern-desktop.svg);
        background-position: bottom right;

        grid-column: 1 / 2;
        grid-row: 1 / 3;

        opacity: 1;

        z-index: 0;
    }
    
    .section .logo {
        padding-inline: 10rem;
        padding-block: 5rem;

        grid-area: logo;

        z-index: 1;
    }
    
    .section .content {
        padding-inline: 8rem;
        margin-top: 4rem;

        grid-area: content;

        z-index: 1;
    }


    .section h1 {
        font-size: 5rem;
        text-align: left;
    }

    .section p {
        text-align: left;
    }
    
    .section img {
        margin-bottom: 0;
        grid-area: img;
    }

    .section .email {
        text-align: left;
    }

    .section .email button {
        padding: .9rem;
        right: 59%;

        margin-bottom: 0;
    }

    .section .email .erro {
        display: none;
    }

    .section .email .erro.icon-erro {
        right: 68%;
        top: 78.6%;

        display: block;
    }

    .section #erro {
        margin-top: -8rem;
    }

    footer {
        margin-top: 3rem;
    }
}

@media (max-width: 535px) {
    .section {
        margin-inline: 2rem;
    }
}

@media (max-width: 345px) {
    .section h1 {
        font-size: 2.5rem;
    }

}